API_ID=24996524
API_HASH=b0825fc3f523fd28b2ea1735a07a058e
BOT_TOKEN=8745742914:AAGM04VAURER1VjkfuwyvxccAPdtgsRTrug
LOG_GROUP_ID=-1001969159081
MONGO_DB_URI=mongodb+srv://venompratap:venom8084@cluster0.dcz5eaa.mongodb.net/?appName=Cluster0
OWNER_ID=1073815732
STRING_SESSION=BQF9aqwAByCfjk4d0lDQgvbfocsdFE1aQyE6waGa5Et7DehQ0KaLeTSg9lfTI7QvzubDEWhjWsi21xTi_tHdg6b9QVyOXNSke8OArUyoWiWz-ieeONP2GJ5gx-6Vw7z61UBPKQiko2qsHhW3f7IIG1LbsuZt7NXPv6TJbW4y_EEf-VBd5HNiL7XgGIgUKtLFitGSycNVBN3EGkGD0fvFtqpZdZrHTLM2rFu1iZViPsJqwLexdBxCyWAVUahfbxW1RuhGqY0EwOXPfgSGNpKoj86GSkkfMZzwUA5UBckVsAHKhmgeW3IrlYkd4RgJ69aH9hQS-Guy8Oo1G4TcScOlWWczty0OxAAAAAGDrbCOAA
SUPPORT_CHANNEL=https://t.me/venomvipbots
SUPPORT_GROUP=https://t.me/venompratapchat
